/* For IE */
body {
    display: flex;
    flex-direction: column;
  }


/* START PAGE WRAPPER */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
   
  .wrapper > * {
    padding: 20px;
  }
   
  .page-main {
    flex-grow: 1;
  }
/* END PAGE WRAPPER */


/* START HEADER */
  .page-header {
    padding: 0px;
  }
  .page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
   
  .page-header ul {
    display: flex;
    padding: 0px;
    order: 1;
    margin-top: 15px;
    list-style: none;
    width: auto;
    justify-content: space-between;
  }

  
  .page-header ul li {
    color: black;  
    margin-left: 1rem;
  }
  .page-header ul li:first-child {
    margin-left: 0px;
  }
   
  @media screen and (min-width: 550px) {
    .page-header ul {
      
    }
   
    .page-header .cta-contact {
      order: 1;
    }
  }
/* END HEADER */


/* START MAIN */
/* variables */
:root {
    --main-white-color: white;
    --main-purple-color: #9e89b8;
  }
   
  .page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    background: var(--main-purple-color) url() no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
  }
   
  .page-main div {
    max-width: 500px;
  }
   
  @media screen and (min-width: 768px) {
    .page-main {
      padding-left: 90px;
    }
  }
/* END MAIN */


/* START FOOTER */
.page-footer {
    display: flex;
    flex-direction: column-reverse;
  }
   
  .page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
   
  @media screen and (min-width: 550px) {
    .page-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
   
    .page-footer ul {
      margin-bottom: 0;
    }
  }
/* END FOOTER */